.loading {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: black;
    animation: scale 1.5s linear infinite;
    align-self: center;
}

.loading::after {
    content: '';
    animation-delay: 0.75s
}

@keyframes scale {
    0% {
        width: 0;
        height: 0;
        opacity: 0.95;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}